<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <title>
        <%= title %>
    </title>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="../">
                <img src="https://upload.wikimedia.org/wikipedia/en/1/1d/2014_FIFA_World_Cup.svg" width="118"
                    height="56" />
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="#"> Discover </a>

                <a class="navbar-item" href="#"> About Us </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link"> More </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item"> Jobs </a>
                        <hr class="navbar-divider" />
                        <a class="navbar-item"> Report an issue </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <button class="js-modal-trigger button is-danger" data-target="modal-js-example">
                            More Players
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="hero">
        <div class="hero-body">
            <p class="title">
                Players
            </p>
            <p class="subtitle">
                Getting known with stars !
            </p>
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Avatar</th>
                                    <th>Full Name</th>
                                    <th>Club</th>
                                    <th>Position</th>
                                    <th>Goals</th>
                                    <th>Captain ?</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <% playerData.forEach(function(player){ %>
                                <tr>
                                    <td>
                                        <figure class="image is-64x64">
                                            <img src="<%= player.image %>">
                                        </figure>
                                    </td>
                                    <td>
                                        <%= player.name %>
                                    </td>
                                    <td>
                                        <%= player.club %>
                                    </td>
                                    <td>
                                        <%= player.position %>
                                    </td>
                                    <td>
                                        <%= player.goals %>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="isCaptain" disabled <% if(player.isCaptain == true) { %> checked <% } %>>
                                    </td>
                                    <td>
                                        <a href="<%= baseUrl %>/edit/<%=player._id%>"><button
                                                class="button is-warning">Edit</button></a>

                                        <a href="<%= baseUrl %>/delete/<%= player._id%>"
                                            onclick="return confirm('Are you sure to Delete <%=player.name%> ? This cant be undo')"><button
                                                class="button is-danger">Delete</button></a>

                                    </td>
                                </tr>
                                <% }); %>
                        </table>
                    </div>
                    <div id="modal-js-example" class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <div class="box">
                                <form method="post">
                                    <div class="field">
                                        <label class="label">Player's Name</label>
                                        <div class="control">
                                            <input class="input" name="name" type="text" placeholder="Player's Name"
                                                required />
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">Club</label>
                                        <div class="control">
                                            <input class="input" name="club" type="text" placeholder="Player's Club"
                                                required />
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">Position</label>
                                        <div class="control">
                                            <input class="input" name="position" type="text"
                                                placeholder="Player's Position" required />
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Goals</label>
                                        <div class="control">
                                            <input class="input" name="goals" type="number" placeholder="0" required />
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Image (Optional)</label>
                                        <div class="control">
                                            <input class="input" name="image" type="text" placeholder="URI" />
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Captain</label>
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="isCaptain" value="true" required>
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="isCaptain" value="false">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <button class="button is-link" type="submit">Submit</button>
                                        </div>
                                        <div class="control">
                                            <button class="button is-link is-light" type="reset">Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <button class="modal-close is-large" aria-label="close"></button>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
            if (event.code === 'Escape') {
                closeAllModals();
            }
        });
    });
</script>

</html>